.idea
.pytest_cache
src/__pycache__
src/.env
src/config.py
src/config.pyc
src/app/__pycache__
src/app/__pycache__/__init__.cpython-37.pyc
tests/__pycache__
src/model/
src/model/ingredients/
src/model/instructions/
tests/functional/__pycache__
tests/unit/__pycache__
data
.DS_Store
test/.DS_Store
src/.DS_Store
src/db/.DS_Store