<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>RecipeNLG</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/public/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/public/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../static/public/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../static/public/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/public/table/css/style.css">
	<link href="../static/public/table/css/theme.css" rel="stylesheet" />
	

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
        
    <main class="main" id="top">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="{{ url_for('app_routes.home') }}"><img class="d-inline-block" src="../static/public/assets/img/gallery/logo.svg" alt="logo" /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient">RecipeNLG</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
            <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
            </div>
            <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0">
                {% if current_user.is_authenticated %}
                {% if current_user.access == 2  %}
					<a class="btn btn-white shadow-warning text-warning" type="submit" href="{{ url_for('admin.dashboard') }}"><i class="fa fa-cog fa-fw me-2"></i>Monitor</a>
					<a class="btn btn-white shadow-warning text-warning" type="submit" href="{{ url_for('admin.admin_dashboard') }}"> <i class="fa fa-user me-2"></i>Dashboard</a>
					<a class="btn btn-white shadow-warning text-warning" type="submit" href="{{ url_for('app_routes.home') }}"> <i class="fa fa-home fa-fw me-2"></i>Home</a>
					<a class="btn btn-white shadow-warning text-warning" type="submit" href="{{ url_for('app_routes.logout') }}"> <i class="fa fa-sign-out me-2"></i>Logout</a>
                {% else %}
          <a class="btn btn-white shadow-warning text-warning" type="submit" href="{{ url_for('app_routes.home') }}"> <i class="fa fa-home fa-fw me-2"></i>Home</a>
          <a class="btn btn-white shadow-warning text-warning" type="submit" href="{{ url_for('app_routes.logout') }}"> <i class="fa fa-sign-out me-2"></i>Logout</a>
			          {% endif %}
                {% endif %}
                </form>
            </div>
        </div>
        </nav>

    <!-- Modify nav bar menu -->

    <section class="py-5 overflow-hidden bg-primary" id="home">
        <div class="container">
          <div class="row flex-center">
            <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner" href="#!"><img class="img-fluid" src="../static/public/assets/img/gallery/hero-header.png" alt="hero-header" /></a></div>
            <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
                {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">{{ current_user.username }} Dashboard's</h1>
                <h3 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">Your favorite recipe only!</h3>
                {% endif %}
                {% endif %}

            </div>
            </div>
          </div>
        </div>
    </section>

    
    <!-- ===============================================-->
    <!--    Table Content-->
    <!-- ===============================================-->

	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">{% block title %}Your Recipe Dashboard{% endblock %}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>&nbsp;</th>
						      <th>Titre</th>
							    <th>Ingrédients</th>
						      <th>Instruction</th>
                  <th>Commentaire</th>
                  <th>Note (max=5)</th>
                  <th>Actions</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
              {% for info in review_user%}
						  <tbody>
						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						      <td>{{ info["titles"] }}</td>
						      <td>{{ info["ingredients"] }}</td>
                  <td>{{ info["instructions"] }}</td>
						      <td class="status">{{ info["review"] }}</td>
						      <td>{{ info["rate"] }}</td>
                  <td>
                    <form method="POST" action="{{ url_for('user.delete', recipe_id=info._id) }}" class=close data-dismiss="alert" aria-label="Close">
                      <button class="btn btn-danger mb-1" type="submit" name="delete_button" value="Delete">Delete</button>
                    </form>
                  </td>
						    </tr>
						  </tbody>
              {% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

