<link rel="stylesheet" href="../static/css/test_rating.css"/>

<form method="POST" action="/avis">
    <div class="form-group">
        <span>Votre notation: </span>
    </div>
	<div class="form-check form-check-inline">
		<label class="form-check-label">
            <input type="radio" name="star" id="star-1" value=1 />
            1
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input type="radio" name="star" id="star-1" value=2 />
            2
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input type="radio" name="star" id="star-1" value=3 />
            3
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input type="radio" name="star" id="star-1" value=4 />
            4
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input type="radio" name="star" id="star-1" value=5 />
            5
        </label>
    </div>
        <h5 class="fw-bold"><img src="../static/public/assets/img/icons/titre.png" width="40" height="40" >  Votre avis nous intéresse: </h5>
            <input class="form-control input-box form-foodwagon-control mb-2" id="inputreview" type="text" name="review" placeholder="" />
	</div>
</form>
